/*nav top<50px 的正常样式*/
.screen-1 .nav-done{
	top:0px;
	opacity: 1;	
}
/*侧边栏样式*/
#aside{
	transform: scale(1,1) translate(0,0);
	opacity: 1;
	z-index: 999;
}
/*nav top>=50px 样式*/
#nav{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 55px;
	line-height: 55px;
	font-family: "微软雅黑";
	color: #FFF;		
	left: 50%;
	background: rgba(220,220,220,0.8);
	transition: all 2s ease;
	z-index: 999;
}

/*  还原动画  将元素还原到正常位置*/
#animation-init{
	transform: scale(1,1) translate(0,0);
	opacity: 1;
}
